<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waynestalk.dagger2example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dagger2Example">
        <activity
            android:name=".order.OrderActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Dagger2Example.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".product.ProductActivity"
            android:exported="true"
            android:label="@string/title_activity_product"
            android:theme="@style/Theme.Dagger2Example.NoActionBar">
        </activity>
    </application>

</manifest>